<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    .gallery img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .carousel-item img {
      max-height: 300px;
      width: auto;
      margin: 0 auto;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px 0;
      text-align: center;
      margin-top: 50px;
    }
  </style>
</head>
<body>
<header>
  <div class="container">
    <nav class="nav justify-content-center">
      <a class="nav-link" href="/admin/addHash">Добавить хеш в базу данных</a>
      <a class="nav-link" href="/admin/hashList">Cписок хешей</a>
      <a class="nav-link" href="/admin/logs">Логи</a>
      <a class="nav-link" href="/admin/scan">Запустить проверку</a>
      <a class="nav-link" href="/admin/dl">Отложенные сканирования</a>
      <a class="nav-link" href="/logout">Выйти</a>
    </nav>
  </div>
</header>



<div class="container">
  <h2 class="text-center mt-5 mb-3">Административная панель</h2>

  <h3 class="mt-5">Логи</h3>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Дата</th>
        <th scope="col">IP-адрес</th>
        <th scope="col">Маска</th>
        <th scope="col">Путь</th>
        <th scope="col">Хеш</th>
        <th scope="col">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="log : ${logs}">
        <td th:text="${log.date}">Дата</td>
        <td th:text="${log.ip}">IP-адрес</td>
        <td th:text="${log.mask}">Маска</td>
        <td th:text="${log.path}">Путь</td>
        <td th:text="${log.hash.hashValue}">Хеш</td>
        <td>
          <button class="btn btn-danger" th:attr="onclick='deleteFile(\'' + ${log.path} + '\')'">Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div th:if="${#lists.isEmpty(logs)}" class="alert alert-info" role="alert">
      Сканирование не выявило угроз.
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function deleteFile(path) {
    if (confirm("Вы уверены, что хотите удалить файл по пути: " + path + " ?")) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/admin/delete?path=" + encodeURIComponent(path), true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            alert("Файл успешно удален.");
            location.reload();
          } else {
            alert("Ошибка при удалении файла.");
          }
        }
      };
      xhr.send();
    }
  }
</script>
</body>
</html>
